alembic==1.15.2
annotated-types==0.7.0
asgiref==3.8.1
Authlib==1.6.0
bandit==1.7.10
bcrypt==4.3.0
blinker==1.9.0
Brotli==1.1.0
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.0
colorama==0.4.6
contourpy==1.3.2
coverage==7.9.0
crispy-bootstrap5==2025.6
cryptography==45.0.4
cssselect2==0.8.0
cycler==0.12.1
Django==5.2.3
django-axes==8.0.0
django-crispy-forms==2.4
django-csp==4.0
django-debug-toolbar==4.3.0
django-extensions==4.1
django-ratelimit==4.1.0
django-session-security==2.6.7
dparse==0.6.4
factory_boy==3.3.3
Faker==37.4.0
filelock==3.12.4
Flask==3.1.1
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
fonttools==4.58.2
greenlet==3.2.2
gunicorn==21.2.0
idna==3.10
iniconfig==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
kiwisolver==1.4.8
Mako==1.3.10
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==4.0.0
matplotlib==3.10.3
mdurl==0.1.2
numpy==2.3.0
packaging==25.0
pandas==2.3.0
pbr==6.1.1
pillow==10.2.0
pluggy==1.6.0
psutil==6.0.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pydyf==0.11.0
Pygments==2.19.1
pyparsing==3.2.3
pyphen==0.17.2
pytest==8.4.0
pytest-cov==6.2.1
pytest-django==4.11.1
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.1
pytz==2025.2
PyYAML==6.0.2
requests==2.32.4
rich==14.0.0
ruamel.yaml==0.18.14
ruamel.yaml.clib==0.2.12
safety==3.2.11
safety-schemas==0.0.14
scipy==1.15.3
setuptools==80.9.0
shellingham==1.5.4
six==1.17.0
SQLAlchemy==2.0.41
sqlparse==0.5.3
stevedore==5.4.1
tinycss2==1.4.0
tinyhtml5==2.0.0
typer==0.16.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.5.0
weasyprint==65.1
webencodings==0.5.1
Werkzeug==3.1.3
whitenoise==6.6.0
WTForms==3.2.1
zopfli==0.2.3.post1
